@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  ::-webkit-scrollbar {
    width: 12.5px;
    height: 15px;
  }

  ::-webkit-scrollbar-track {
    border-radius: 100vh;
    background: transparent;
  }

  ::-webkit-scrollbar-thumb {
    background: #e0cbcb;
    border-radius: 100vh;
  }

  ::-webkit-scrollbar-thumb:hover {
    background: #c0a0b9;
  }

  input::-webkit-outer-spin-button,
  input::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
  }

  input[type="number"] {
    -moz-appearance: textfield;
  }

  @media only screen and (max-width: 768px) {
    ::-webkit-scrollbar {
      display: none;
    }
  }
}
